:root {
  /* White */

  /* First Palette */
  --light-lavender: #eaeaf9;
  --muted-purple: #6a63aa;
  --primary-purple: #4f3cbb;
  --deep-purple: #473587;
  --sky-blue: #6db2e6;
  --navy-blue: #0d2a58;

  /* Second Palette */
  --off-white:#f8f8f8;
  --cool-blue: #549bd0;
  --steel-blue: #29679a;
  --midnight-blue: #02162d;

/**************************************************************************************/

  /* --primary-color: #2563eb;
  --secondary-color: #1e40af; */
  --text-color: #1f2937;
  --text-light: #6b7280;
  --text-inverse: #ffffff;
  --bg-color: #ffffff;
  --bg-secondary: #f9fafb;
  --bg-inverse: #111827;
  --border-radius: 0.5rem;
  --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --transition: all 0.3s ease;

  
  --cards: 3;
  --cardHeight: 120vh; 
  --cardTopPadding: 1.5em;
  --cardMargin: 4vw;
  --cardWidth: 80%;

}
