:root {


  /* First Palette */
  --light-lavender: #eaeaf9;
  --muted-purple: #6a63aa;
  --primary-purple: #4f3cbb;
  --deep-purple: #473587;
  --sky-blue: #6db2e6;
  --navy-blue: #0d2a58;

  /* Second Palette */
  --off-white:#f8f8f8;
  --cool-blue: #549bd0;
  --steel-blue: #29679a;
  --midnight-blue: #02162d;

/**************************************************************************************/
  
  --cards: 3;
  --cardHeight: 120vh; 
  --cardTopPadding: 1.5em;
  --cardMargin: 4vw;
  --cardWidth: 80%;

}
